@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  font-weight: 400;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 5px;
  background-color: #ccc;
  display: inline-block;
  margin: 0 5px;
  border-radius: 2px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: "#000";
  opacity: 1;
}
